.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.house {
  width: 150px;
  height: 150px;
  background: coral;
  left: 75px;
  bottom: 0;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    left: 40px;
    top: 50px;
}
.chimney {
  width: 20px;
  height: 60px;
  background: black;
  top: 40px;
  right: 100px;
}
.door {
   width: 60px;
  height: 90px;
  background: brown;
  bottom: 0;
  left: 95px;
  z-index: 1;
}
.window {
   width: 40px;
  height: 40px;
  background: cyan;
  right: 95px;
  bottom: 40px;
  z-index: 1;
}
.main-block{
  position: relative;
}  
.door, .window, .house, .chimney, .roof{
  position: absolute
}